<!DOCTYPE html>
<html>
<%- include('./partition/header'); -%>
<%- include('./partition/navbar', {user: user}); -%>
    <body>
        <div class="container-fluid">
            <div class="noti-detail">
                <div class="notifications-top-bar">
                    <ul>
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/notification">Thông báo</a></li>
                        <li>Chi tiết thông báo</a></li>
                    </ul>
                </div>
                <div class="noti-detail-body">
                    <div class="noti-detail-header">
                        <div class="noti-detail-title">
                            <p><%=data.title%></p>
                        </div>
                        <div class="noti-detail-information">
                            <p><a href="/notification?department=<%=data.authorId.departmentID%>"><%=data.authorId.name%></a> đã đăng:</p>
                            <p>Chuyên mục: <a href="/notification?category=<%=data.categoryId._id%>"><%=data.categoryId.name%></a></p>
                            <p>Ngày đăng: <span  class="noti-detail-date"><%=locals.formatDate(data.date)%></span></p>
                        </div>
                        <%if (data.myNoti){%>
                        <div>
                            <button class="btn btn-secondary remove-noti" onclick=removeDetailNotiModal(this) data-id="<%=data._id%>">
                                Xoá <i class="fa fa-minus-circle" aria-hidden="true"></i>
                            </button>
                            
                            <button class="btn btn-secondary edit-noti"  onclick=editNotiModal(this) data-id="<%=data._id%>">
                                Sửa <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                        </div>
                        <%}%>
                    </div>
                    <hr>
                    <div class="noti-detail-content">
                        <%-data.content-%>
                    </div>
                </div>  
            </div>
        </div>
    </body>
    
    
    <!-- Confirm modal -->
    <div class="modal hide fade remove-noti-confirm" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Bạn có muốn xoá thông báo này không ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="noti-detail">
                        <div class="noti-detail-title">
                            <p><%=data.title%></p>
                        </div>
                        <div class="noti-detail-information">
                            <p><a><%=data.authorId.name%></a> đã đăng:</p>
                            <p>Chuyên mục: <a><%=data.categoryId.name%></a></p>
                            <p>Ngày đăng: <span  class="noti-detail-date"><%=locals.formatDate(data.date)%></span></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="cancel-noti-remove">Huỷ</button>
                    <button type="button" class="confirm-noti-remove" onclick=removeNoti(this)>Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End modal -->

    <!-- Create Noti modal -->
    <div class="modal fade update-noti-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Chỉnh sửa thông báo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="noti-title" class="col-form-label">Tựa đề:</label>
                    <input type="text" class="form-control" id="noti-title">
                </div>
                <div class="form-group">
                    <label for="noti-sub-title" class="col-form-label">Tựa nhỏ:</label>
                    <input type="text" class="form-control" id="noti-sub-title">
                </div>
                <div class="form-group">
                    <select class="form-select" id="noti-categories-picker">
                        <option selected>Chọn Chuyên Mục</option>
                        <% user.permission.forEach(value => { %>
                            <option value="<%=value._id%>"><%=value.name%></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="noti-is-importance">Thông báo quan trọng:</label>
                    <input type="checkbox" value="true" id="noti-is-importance">
                </div>
                <div class="form-group">
                    <label for="noti-content" class="col-form-label">Nội dung:</label>
                    <textarea class="form-control" id="noti-content"></textarea>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="noti-modal-cancel" data-dismiss="modal">Hủy</button>
              <button type="butotn" class="noti-modal-save" onclick=editNoti(this)>Lưu thông báo</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Scroll to top start -->
      <div class="scroll-top not-visible">
              <i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i>
      </div>
      <!-- Scroll to Top End -->
      <!-- end Create Noti modal -->
<%- include('./partition/footer'); -%>
</html>