<!DOCTYPE html>
<html>
<%- include('./partition/header'); -%>
<%- include('./partition/navbar', {user: user}); -%>

<body>
    <main>
        <div class="main-wrapper ">
            <div class="top-bar">
                <img class="profile-banner-large bg-img" src="/images/banner.png">
                <div class="picture-and-name d-flex ">
                    <div class="profile-picture-box">
                        <figure class="d-flex justify-content-center align-items-center profile-picture ">
                            <a href="/profile/<%= userProfile._id %>">
                                <img src="<%= userProfile.avatar %>" alt="profile picture">
                            </a>
                        </figure>
                    </div>
                    <div class="email-name">
                        <div class="profile-name">
                            <strong>
                                <%= userProfile.name %>
                            </strong>
                        </div>
                        <div class="profile-email">
                            <%= userProfile.email %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="profile-menu-area bg-white">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-3">
                        </div>
                        <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-center ">
                            <div class="profile-menu-wrapper">
                                <div class="main-menu-inner header-top-navigation">
                                    <nav>
                                        <ul class="main-menu">
                                            <li class="active"><a href="">timeline</a></li>
                                            <li><a href="">about</a></li>
                                            <li><a href="">photos</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                        <% if(isCurrentUser){ %>
                            <div class="profile-edit-panel">
                                <button class="edit-btn">edit profile</button>
                            </div>
                        <%}%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row ">

                    <div class="col-lg-3 order-2 order-lg-1">
                        <%- include('./partition/left-widget'); -%>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2">
                        <!-- share box start -->

                        
                        <%- isCurrentUser?include('./partition/share'):'' -%>
                            <!-- share box end -->
                            <%- include('./partition/body', {data: data}); -%>
                    </div>
                    <div class="col-lg-3 order-3">
                        <%- include('./partition/right-widget'); -%>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="bi bi-finger-index"></i>
    </div>
    <!-- Scroll to Top End -->
    <%- include('./partition/editprofile', {userProfile}); -%>
    <%- include('./partition/footer') -%>
</body>
</html>