<div class="modal hide fade about-profile-modal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid rounded bg-white">
                        <div class="row">
                            <div class="col-md-3 border-right">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="text-right"><strong>Ảnh đại diện</strong></h4>
                                    </div>
                                    <div class="d-flex flex-column align-items-center text-center pb-5 profile-picture-container">
                                        <img class="rounded-circle mt-5 modal-profile-picture" height="100" width="100" src="<%=userProfile.avatar%>">
                                        <img class="rounded-circle mt-5 modal-profile-picture-preview">
                                        <input type="file" class="profile-picture-upload" style="display: none" name="picture" accept="image/*">
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right"><strong>Ảnh bìa</strong></h4>
                                    </div>
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img src="/images/banner.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 border-right">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h4 class="text-right"><strong>Hồ sơ</strong></h4>
                                    </div>
                                    <div class="mt-2">
                                        <label for="profile-fullname" class="labels">Tên hiển thị</label>
                                        <input type="text" name="fullname" id="profile-fullname" name="fullname"class="form-control" readonly value="<%=userProfile.name%>">
                                    </div>
                                    <div class="mt-2">
                                        <label class="labels" for="profile-email">Email</label>
                                        <input type="email" id="profile-email" class="form-control" readonly value="<%=userProfile.email%>">
                                    </div>
                                    <div class="mt-2">
                                        <label class="labels" for="profile-role">Vai trò</label>
                                        <input type="text" id="profile-role" class="form-control" readonly value="<%=userProfile.role.admin?"Admin":userProfile.role.department?"Phòng/Khoa":"Sinh viên"%>">
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <label class="labels" for="profile-class">Lớp</label>
                                            <input type="text" name="class" id="profile-class" class="form-control" placeholder="Lớp" readonly  value="<%=userProfile.class%>">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="labels" for="profile-faculty">Khoa</label>
                                            <input type="text" name="faculty" id="profile-faculty" class="form-control" value="<%=userProfile.falcuty%>" readonly placeholder="Khoa">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <h4 class="text-right"><strong>Quote</strong></h4>
                                    </div>
                                    <div class="mb-5 d-flex align-items-center">
                                        <p><i class="fa fa-quote-left" aria-hidden="true"></i></p>
                                        <span id="profile-quote"><%-userProfile.quote-%></span>
                                        <p><i class="fa fa-quote-right" aria-hidden="true"></i></p>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right"><strong>Mô tả bản thân</strong></h4>
                                    </div>
                                    <div class=" mt-2">
                                        <label class="labels">Mô tả</label>
                                        <span id="profile-desc"><%-userProfile.desc-%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>