<aside class="widget-area">
    <!-- widget single item start -->
    <div class="card widget-item noti-timeline">
        <h4 class="widget-title">Thông báo gần đây
            <div class="view-all-noti">
                <a href="/notification">Xem tất cả</a>
            </div>
        </h4>
        <div class="wrapper">
            <ul class="sessions">
                <%noties.forEach(value=>{%>
                <li>
                    <div class="time"><%=locals.formatDateTime(value.date)%></div>
                    <p><b><%=value.authorId.name%></b> đã đăng thông báo tại <b><%=value.categoryId.name%></b><br><i><a href="/notification/detail/<%=value._id%>"><%=value.title%></a></i></p>
                </li>
            <%})%>
            </ul>
        </div> 
        
    </div>
    <!-- widget single item end -->
    
</aside>